.inner-row{
    border-top: dashed;
}
.inner-column{
    border-left: dashed;
}
td{
    width:100px;
    height: 100px;
    text-align: center;
    font-size: xx-large;

}
.hide{
    display:none;
}
article{
    display:flex;
    flex-direction: row;

}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
article span{
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
td:last-child{
    border-right: dashed;
}
td:first-child{
    border-left: dashed;
}
tr:last-child td{
    border-bottom: dashed;
}